<header class="header">
  <nav class="nav">
    <img routerLink="" src="../assets/images/nergi-logo-header.png" alt="200" />
    <ul class="nav-menu">
      <div class="item">
        <li class="nav-menu-item" routerLink="">{{"navbar.weare" | translate}}</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="works">{{"navbar.ourworks" | translate}}</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="about">{{"navbar.aboutus" | translate}}</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="services">{{"navbar.our-services" | translate}}</li>
      </div>
    </ul>
    <div>
      <h5 class="en" (click)="changeLang('en')">EN</h5>  <h5 class="es" (click)="changeLang('es')">ES</h5>
    </div>
  </nav>
</header>
