<header class="header">
  <nav class="nav">
    <img routerLink="" src="../assets/images/nergi-logo-header.png" alt="200" />
    <ul class="nav-menu">
      <div class="item">
        <li class="nav-menu-item" routerLink="">We Are Nergi</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="works">Study Cases</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="about">About Us</li>
      </div>

      <div class="item">
        <li class="nav-menu-item" routerLink="contact">Contact</li>
      </div>
    </ul>
  </nav>
</header>
