

<div class="container">
  <div>
    <h1>Lets Connect for a Successful
      Product Journey.</h1>
  </div>

<form [formGroup]="form" id="form" (submit)="handlesubmit($event)">
  <label for="nombre">Name</label><br><br>
  <input type="text" formControlName="nombre">
  <br> <br>
  <label for="email">Email</label><br><br>
  <input type="email" formControlName="email">
  <br> <br>
  <label for="telefono">Phone number</label><br><br>
  <input type="text" formControlName="telefono">
  <br> <br>
  <label for="mensaje">Message</label><br>
  <textarea formControlName="mensaje"> </textarea>
  <br> <br><br>
  <button class="btn" type="submit">Get in touch</button>
</form>
</div>
