<div *ngIf="!isloading" class="cont-ainer">
  <div>
    <h1>Lets Connect for a Successful Product Journey.</h1>
  </div>

  <form [formGroup]="form" id="form" (submit)="handlesubmit($event)">
    <label for="nombre">Name</label><br />
    <input class="inputActivo" type="text" formControlName="nombre" />
    <br />
    <br />
    <label for="email">Email</label><br />
    <input class="inputActivo" type="email" formControlName="email" />
    <br />
    <br />
    <label for="telefono">Phone number</label><br />
    <input class="inputActivo" type="text" formControlName="telefono" />
    <br />
    <br />
    <label for="mensaje">Message</label><br />
    <input class="inputActivo" formControlName="mensaje" />
    <br />
    <br /><br />
    <button class="btn" type="submit">Get in touch</button>
    <br /><br />
    <div *ngIf="success" class="alertsuccess">
      Mensaje enviado exitosamente!
    </div>
    <div *ngIf="error" class="error">{{ form.valid == false ? "Debes completar todos los campos" : ""}}</div>
      <div *ngIf="emailError" class="error">{{ form.controls?.email?.status == "INVALID" ? "Debes ingresar un email valido" : "" }}</div>
  </form>
  <br />


</div>

<div *ngIf="isloading" class="cont-ainer">
  <img
    src="../assets/images/loading.gif"
    alt="this slowpoke moves"
    width="100"
  />
</div>
