.cont-ainer {
  max-width: 100vw;
  height: auto;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 120px;
}

img {
  margin-left: 40vw;
  padding-top: 20vh;
  width: 10%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3vw;
}

form {
  margin-top: 50px;
  margin-left: 22%;
}

label {
  color: white;
  margin-bottom: 0px;
}

input,
textarea {
  background-color: #272727;
  border-bottom: white;
  font-size: 25px;
  font-family: Gilroy;
  width: 70%;
  height: 45px !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}

input,
textarea.value {
  color: white;
  height: 7vh;
}

.btn {
  width: 130px;
  height: 35px;
  font-weight: 600;
  background-color: #00cf89;
  color: #272727;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-left: 25%;
}

.inputActivo:focus {
  outline: none;
}

.alertsuccess {
  width: 260px;
  color: #00cf89;
  background-color: #272727;
}

.error {
  width: 270px;
  color: red;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 970px) {
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 4vw;
  }

  input {
    width: 90%;
  }

  form {
    margin-left: 7%;
  }

  .btn {
    margin-left: 31%;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    margin-left: 27%;
  }

  .cont-ainer{
    margin-left: 0px;
  }
}
@media screen and (max-width: 400px) {
  .btn {
    margin-left: 21%;
  }
  h1 {
    width: 95vw;
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 300px) {
}
