<div class="contenedor">
<div>
  <p class="tittle">{{"navbar.aboutus" | translate}}</p>
  <img class="image3" src="../assets/images/image_banner.png" alt="">
  <div class="bloque1">

    <h1>Lorem ipsum dolor sit <br>  </h1><div class="line"></div>
     <p class="paragraph"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum neque a metus gravida malesuada. Maecenas id diam ligula. Praesent nec fringilla nunc. Cras id sollicitudin augue, ac elementum nulla. Donec quis sapien nulla. Suspendisse potenti. Suspendisse tempor ante sed dolor fringilla, quis lobortis dui finibus. Mauris vestibulum accumsan purus, ac volutpat augue dapibus ac. Maecenas venenatis et erat eget fermentum. Mauris finibus, nunc a vehicula sodales, nulla libero tincidunt nulla, vitae fringilla lacus mauris vel eros. Proin eu ex aliquam, luctus erat eget, placerat urna.</p>



  </div>
</div>

<div class="bloque2">
<p class="texto1">Nullam ut dolor quis enim iaculis pharetra. Nunc rutrum, mi et convallis viverra, sem nisl blandit magna, a blandit neque risus non odio. Donec laoreet suscipit dolor, non blandit purus. Curabitur eu hendrerit urna, cursus porta lacus. Phasellus vestibulum turpis nulla, at vehicula felis finibus non.
</p>
<p class="texto2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin nunc. Integer accumsan, risus ut tristique dapibus, libero tellus scelerisque velit, non dictum lorem metus suscipit lectus. Curabitur eleifend venenatis felis sit amet semper. Morbi laoreet vitae neque eu accumsan. Donec ullamcorper ornare nibh non porta. Vestibulum auctor tincidunt magna quis luctus.</p>
</div><img class="image2" src="../assets/images/figura5.png" alt="">
</div>
