<div class="contenedor">
  <div>
    <p class="tittle">{{ "navbar.aboutus" | translate }}</p>
    <img class="image3" src="../assets/images/image_banner.png" alt="" />
    <div class="bloque1">
      <h1>Lorem ipsum dolor sit <br /></h1>
      <div class="line"></div>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum
        neque a metus gravida malesuada. Maecenas id diam ligula. Praesent nec
        fringilla nunc. Cras id sollicitudin augue, ac elementum nulla. Donec
        quis sapien nulla. Suspendisse potenti. Suspendisse tempor ante sed
        dolor fringilla, quis lobortis dui finibus. Mauris vestibulum accumsan
        purus, ac volutpat augue dapibus ac. Maecenas venenatis et erat eget
        fermentum. Mauris finibus, nunc a vehicula sodales, nulla libero
        tincidunt nulla, vitae fringilla lacus mauris vel eros. Proin eu ex
        aliquam, luctus erat eget, placerat urna.
      </p>
    </div>
  </div>

  <div class="bloque2">
    <img class="circle" src="../assets/images/image_circle.png" alt="" />
    <img class="image4" src="../assets/images/imageGetty5.png" alt="" />
    <p class="text2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum neque
      a metus gravida malesuada. Maecenas id diam ligula. Praesent nec fringilla
      nunc. Cras id sollicitudin augue, ac elementum nulla. Donec quis sapien
      nulla. Suspendisse potenti. Suspendisse tempor ante sed dolor fringilla,
      quis lobortis dui finibus. Mauris vestibulum accumsan purus, ac volutpat
      augue dapibus ac. Maecenas venenatis et erat eget fermentum. Mauris
      finibus, nunc a vehicula sodales, nulla libero tincidunt nulla, vitae
      fringilla lacus mauris vel eros.
    </p>
    <p class="text3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum neque
      a metus gravida malesuada. Maecenas id diam ligula. Praesent nec fringilla
      nunc. Cras id sollicitudin augue, ac elementum nulla. Donec quis sapien
      nulla. Suspendisse potenti. Suspendisse tempor ante sed dolor fringilla,
      quis lobortis dui finibus. Mauris vestibulum accumsan purus, ac volutpat
      augue dapibus ac. Maecenas venenatis et erat eget fermentum. Mauris
      finibus, nunc a vehicula sodales, nulla libero tincidunt nulla, vitae
      fringilla lacus mauris vel eros.
    </p>
  </div>

  <div class="bloque3">
    <p class="paragraph2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum neque
      a metus gravida malesuada. Maecenas id diam ligula. Praesent nec fringilla
      nunc. Cras id sollicitudin augue, ac elementum nulla. Donec quis sapien
      nulla. Suspendisse potenti. Suspendisse tempor ante sed dolor fringilla,
      quis lobortis dui finibus.
    </p>
  </div>
</div>
