<div class="cont-ainer">

  <p class="tittle">{{"Companies that trusted in us" | translate}}</p>
</div>

<div class="companies-min">
  <div class="text">
    <p class="button-companies-min" >John Deere</p>
    <div class="line"></div>
    </div>

</div>

<div class="companies">
  <div class="text">
  <p class="button-companies">John Deere</p>

  <p class="subtittle">The challenge</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <p class="subtittle">The solution</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>
  </div>

 <img class="imageGetty" src="../assets/images/imageGetty1.png" alt="">

</div>

<div class="companies-min1">
  <div class="text">
    <p class="button-companies-min" >Corteva</p>
    <div class="line"></div>
    </div>

</div>

<div class="companies1">
  <div class="text">
  <p class="button-companies1">Corteva</p>

  <p class="subtittle">The challenge</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <p class="subtittle">The solution</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>
  </div>

 <img class="imageGetty" src="../assets/images/imageGetty2.png" alt="">

</div>

<div class="companies-min2">
  <div class="text">
    <p class="button-companies-min" >Mi Lote</p>
    <div class="line"></div>
    </div>

</div>

<div class="companies2">
  <div class="text">
  <p class="button-companies2">Mi Lote</p>

  <p class="subtittle">The challenge</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <p class="subtittle">The solution</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>
  </div>

 <img class="imageGetty" src="../assets/images/imageGetty4.png" alt="">

</div>







