<div class="cont-ainer">

  <p class="tittle">{{"Companies that trusted in us" | translate}}</p>
</div>

<div class="companies">
  <div class="text">
  <p class="button-companies">John Deere</p>
  <br>
  <p class="subtittle">The challenge</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>
  <br>
  <p class="subtittle">The solution</p>
  <p class="text-companie">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>
  </div>
<img class="imageGetty" src="../assets/images/imageGetty1.png" alt="">
</div>
  <!-- <div class="bloque1">
  <img class="image1" src="../assets/images/figura1.png" alt="">
  <h1>Corteva Flight <br> <div class="line"><br><h5>The challenge</h5>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <h5>The solution</h5>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.
 </p></div></h1>
</div>
<br> <br>
<div class="bloque2">

  <h1 class="h1-2">Mi Lote <br> <div class="line"><br><h5 class="second">The challenge</h5>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <h5 class="second">The solution</h5>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.
 </p></div></h1><img class="image2" src="../assets/images/figura2.png" alt="">
</div>

<div class="bloque3">
  <h1 class="h1-3">John Deere <br> <div class="line"><br><h5>The challenge</h5>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.</p>

  <h5>The solution</h5>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor orci nisi, id dignissim justo efficitur a. Nulla euismod blandit ultricies.
 </p><img class="image3" src="../assets/images/figura3.png" alt=""></div></h1>
</div>
 -->


