.cont-ainer{
  max-width: 100vw;
  margin-top: 6vh;
}


p, h5{
  color: white;
}




.tittle{
  color: white;
  width: 98vw;
  margin-top: 30vh;
  font-size: 3vw;
  text-align: center;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 15vh;
}



.companies{
  width: 100%;
  background-color: #00CF89;
  opacity: 0;
  height: 0vh;
  pointer-events: none;
  overflow: hidden;
  transition: all .5s ease;
  &.activo{
    display: flex;
    opacity: 1;
    height: 50vh;
    pointer-events: auto;
  }
  &.inactivo{
    display: none;
  }

}

.companies1{
  width: 100%;
  background-color: #00CF89;
  opacity: 0;
  height: 0vh;
  pointer-events: none;
  overflow: hidden;
  transition: all .5s ease;
  &.activo{
    display: flex;
    opacity: 1;
    height: 50vh;
    pointer-events: auto;
  }
  &.inactivo{
    display: none;
  }

}

.companies2{
  width: 100%;
  background-color: #00CF89;
  opacity: 0;
  height: 0vh;
  pointer-events: none;
  overflow: hidden;
  transition: all .5s ease;
  &.activo{
    display: flex;
    opacity: 1;
    height: 50vh;
    pointer-events: auto;
  }
  &.inactivo{
    display: none;
  }

}

.companies-min{
  width: 100%;
  height: 20vh;
  cursor: pointer;
  &.activo{
    display: flex;
    height: 20vh;
  }
  &.inactivo{
    display: none;
  }
}

.companies-min1{
  width: 100%;
  height: 20vh;
  cursor: pointer;
  &.activo{
    display: flex;
    height: 20vh;
  }
  &.inactivo{
    display: none;
  }
}

.companies-min2{
  width: 100%;
  height: 20vh;
  cursor: pointer;
  &.activo{
    display: flex;
    height: 20vh;
  }
  &.inactivo{
    display: none;
  }
}

.text{
  width: 50%;
  display: inline-block;
  padding-left: 10vw;
  height: 45vh;
  margin-top: 5vh;
}


.imageGetty{
  width: 40%;
  display: inline-block;
  height: 45vh;
  margin-left: 10%;
  vertical-align: top;
}




.button-companies{
  border: 2px solid white;
  border-radius: 15px;
  width: 12vw;
  text-align: center;
  font-weight: 900;
  height: 5vh;
  font-size: 1.4vw;
  padding-top: 0.3%;
  cursor: pointer;
}

.button-companies1{
  border: 2px solid white;
  border-radius: 15px;
  width: 12vw;
  text-align: center;
  font-weight: 900;
  height: 5vh;
  font-size: 1.4vw;
  padding-top: 0.3%;
  cursor: pointer;
}

.button-companies2{
  border: 2px solid white;
  border-radius: 15px;
  width: 12vw;
  text-align: center;
  font-weight: 900;
  height: 5vh;
  font-size: 1.4vw;
  padding-top: 0.3%;
  cursor: pointer;
}

.button-companies-min{
  color: #00CF89;
  width: 12vw;
  text-align: center;
  font-weight: 900;
  font-size: 1.4vw;
}


.line{
  background-color: #00CF89;
  width: 12vw;
  height: 0.3vh;
}

.subtittle{
  color: #606060;
  font-size: 1vw;
  padding-left: 5vw;
  font-weight: bold;
}

.text-companie{
  color: #606060;
  padding-left: 5vw;
  font-size: 1vw;
}

@media screen and (max-width: 1280px){


}
@media screen and (max-width: 970px){
.tittle{
  margin-bottom: 10vh;
  }

  p{
    font-size: 1.5vw;
    }

    .image1{
     margin-top: 14vh;
      }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 600px){
  .tittle{
    font-size: 6vw;
    margin-bottom: 7vh;
    }
    .bloque2{
     height: 52vh;
      }
    .image1{
      height: 30vh;
      }
      h1{
        font-size: 2.2rem;
        }
        h5{
          font-size: 1.5rem;
          }
          p{
            font-size: 0.7rem;
            width: 36vw;
            }
            .h1-2{
              margin-left: 16vw;
              }
              .second{
                width: 50vw;
                }
                .image2 {
                  margin-left: 55vw;
margin-top: 9vh;
              }
              .h1-3{
                margin-left: 16vw;
              }
              h5{
                width: 70vw;
              }
              .cont-ainer{
                height: 180vh;
              }
}
@media screen and (max-width: 400px){
  .cont-ainer{
    height: 180vh;
  }
  h1{
    font-size: 1.4rem;
  }
  .image1{
   margin-top: 16vh;
   margin-left: 8vw;
  }
  h5{
    font-size: 1.2rem;
  }
}
  @media screen and (max-width: 300px){
.tittle{
  margin-bottom: 4vh;
}
h1{
  font-size: 1.1rem;
}
.image1{
  margin-top: 10vh;
  margin-left: 8vw;
 }
 h5{
  font-size: 1rem;
}
p{
 width: 45vw;
}
.image2{
  width: 30vw;
  height: 31vh;
  margin-left: 62vw;
 }
}
