.cont-ainer{
  max-width: 100vw;
  margin-top: 6vh;
}



h1{
  color: #00CE88;
  font-weight: 800;
  display: inline-block;
  position: absolute;
  margin-left: 2vw;
  z-index: 0;
}

.line{
  height: 2px;
  background-color: #00CE88;
  width: 70%;
  display: inline-block;
  position: absolute;
  margin-top: 1vh;
  z-index: 0;
}

.image1{
  margin-left: 12vw;
  height: 35vh;
  margin-top: 12vh;
}

.image2{
  margin-left: 74vw;
  height: 35vh;
  margin-top: 12vh;
}

p, h5{
  color: white;
}

p{
  font-size: 1vw;
  font-style: normal;
  width: 26vw;
  font-weight: 300;
}


.tittle{
  color: white;
  width: 98vw;
  margin-top: 30vh;
  font-size: 3vw;
  text-align: center;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 15vh;
}

.h1-2{
  margin-left: 46vw;
}

.h1-3{
  margin-left: 22.5vw;
}

.image3{
  height: 20vh;
}

.second{
  width: 10vw;
}

.bloque2{
  height: 65vh;
}

.image1-copy{
  display: none;
}

.companies{
  width: 100%;
  background-color: #00CF89;
  height: 50vh;
}

.text{
  width: 50vw;
  display: inline-block;
  padding-left: 10vw;
  vertical-align: initial;
}

.imageGetty{
  width: 35vw;
  display: inline-block;
  vertical-align: initial;
  height: 90%;
}

.button-companies{
  border: 2px solid white;
  border-radius: 15px;
  width: 20%;
  text-align: center;
  font-weight: 900;
}

.subtittle{
  color: #606060;
  font-size: 0.8vw;
  padding-left: 5vw;
  font-weight: bold;
}

.text-companie{
  color: #606060;
  padding-left: 5vw;
  font-size: 0.8vw;
}

@media screen and (max-width: 1280px){


}
@media screen and (max-width: 970px){
.tittle{
  margin-bottom: 10vh;
  }

  p{
    font-size: 1.5vw;
    }

    .image1{
     margin-top: 14vh;
      }
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 600px){
  .tittle{
    font-size: 6vw;
    margin-bottom: 7vh;
    }
    .bloque2{
     height: 52vh;
      }
    .image1{
      height: 30vh;
      }
      h1{
        font-size: 2.2rem;
        }
        h5{
          font-size: 1.5rem;
          }
          p{
            font-size: 0.7rem;
            width: 36vw;
            }
            .h1-2{
              margin-left: 16vw;
              }
              .second{
                width: 50vw;
                }
                .image2 {
                  margin-left: 55vw;
margin-top: 9vh;
              }
              .h1-3{
                margin-left: 16vw;
              }
              h5{
                width: 70vw;
              }
              .cont-ainer{
                height: 180vh;
              }
}
@media screen and (max-width: 400px){
  .cont-ainer{
    height: 180vh;
  }
  h1{
    font-size: 1.4rem;
  }
  .image1{
   margin-top: 16vh;
   margin-left: 8vw;
  }
  h5{
    font-size: 1.2rem;
  }
}
  @media screen and (max-width: 300px){
.tittle{
  margin-bottom: 4vh;
}
h1{
  font-size: 1.1rem;
}
.image1{
  margin-top: 10vh;
  margin-left: 8vw;
 }
 h5{
  font-size: 1rem;
}
p{
 width: 45vw;
}
.image2{
  width: 30vw;
  height: 31vh;
  margin-left: 62vw;
 }
}
