<div class="green">
  <div class="container">
    <img src="../assets/images/logo-footer.png" alt="" />
    <div class="info">
      <div class="contacto">
        <p id="contact-us" routerLink="contact">Contact Us</p>
        <p>Follow Us</p>
      </div>
      <div class="social-media">
        <img id="social" src="../assets/images/linkedin_logo.png" alt="" />
        <img id="social" src="../assets/images/twitter_logo.png" alt="" />
      </div>
      <div class="mail">info@nergi.io</div>
      <div class="mail">San Francisco, CA</div>
    </div>
  </div>
</div>

<div class="grey">
  <div class="container">
    <img id="derechos" src="../assets/images/rights_reserved.png" alt="" />
  </div>
</div>
