.green {

  height: 230px;
  background-color: #00cf89;
  margin: 0px;
  padding-top: 5vh;
}
.grey {
  width: 100%;
  height: 60px;
  background-color: #ffff;
  margin: 0px;
}

.cont-ainer {
  color: #606060;
  margin-left: 6%;
  margin-right: 6%;
}

.info {
  width: 40%;
  float: right;
}
p {
  display: inline-block;
  width: 16vw;
  margin-top: auto;
  font-size: 20px;
}

.social-media {
  margin-left: 45%;
  margin-bottom: 40px;
}

#social {
  margin-right: 3%;
  cursor: pointer;
}

#derechos {
  padding-top: 16px;
  margin-left: 53vw;
}

.mail {
  font-size: 14px;
  margin-top: 5px;
}

#contact-us {
  cursor: pointer;
}


@media screen and (max-width: 1280px){


}
@media screen and (max-width: 970px){

}
@media screen and (max-width: 767px){
p{
  font-size: 18px;
  width: 18vw;
  margin-left: 18vw;
}

.social-media{
margin-left: 18vw;
margin-bottom: 25px;
}
}
@media screen and (max-width: 600px){
.info{
  float: left
}
p{
  width: 25vw;
  margin-left: 0vw;
  margin-bottom: 0.5rem;
}

#contact-us{
  margin-top: 1rem;
}

.social-media{
  margin-left: 0vw;
  margin-bottom: 4vh;
}

#derechos{
  display: inherit;
}


}
@media screen and (max-width: 400px){
p{
  width: 35vw;
}

.mail{
  font-size: 12px;
}

#derechos{
  margin-left: 40vw;
}

.social-media{
  margin-bottom: 5vh;
}
}
  @media screen and (max-width: 300px){
    #derechos{
      width: 50vw;
    }

    .social-media{
      margin-bottom: 7vh;
    }
}
