<div class="cont" @enterState>
  <img id="image-nergi" src="../assets/images/home-illustration.png" />
  <p class="firstParagraph">{{ "we are nergi" | translate }},</p>
  <img src="../assets/images/line.png" />
  <p class="secoondParagraph">{{ "we are" | translate }}</p>
  <p class="thirdParagraph">{{ "developing futures" | translate }}</p>
</div>
<div class="cont-ainer" @enterState>
  <h1 class="tittle">{{ "Companies that trusted in us" | translate }}</h1>
  <div class="line"></div>
  <div class="contenedor">
    <div class="works">
      <div class="work1" data-aos="flip-left" data-aos-duration="2000"
      data-aos-easing="ease-out-cubic">
        <img
          class="johndeere"
          src="../assets/images/logo-johndeere.png"
          alt="50"
        />
      </div>
      <div class="work" data-aos="flip-left" data-aos-duration="2000"
      data-aos-easing="ease-out-cubic">
        <img class="woza" src="../assets/images/logo-wosa.png" alt="50" />
      </div>
      <div class="work" data-aos="flip-left" data-aos-duration="2000"
      data-aos-easing="ease-out-cubic">
        <img class="corteva" src="../assets/images/logo-corteva.png" alt="50" />
      </div>
    </div>
  </div>
  <div class="button-more">
  <button class="btn" routerLink="works">{{ "more-works" | translate }}</button>
</div>
</div>

<div class="cont-ainer" @enterState>
  <div class="tecnology-image">
    <div class="tecnologies">
      <h1>
        {{ "Cutting Edge Technologies" | translate }}
        {{ "Deep Learning" | translate }} - Edge Computing - IOT - XR ({{
          "Augmented / Virtual Reality" | translate
        }})
      </h1>
    </div>
  </div>
</div>

<!-- <div class="cont-ainer" @enterState>
<div class="bloque1">
<h1 class="technologies">Artificial intelligence (AI) and machine learning:<br> <div class="lines"></div><br>
  <p class="paragraph"> These technologies enable software to learn and adapt to new data and situations, making it possible to build highly sophisticated and intelligent systems.
  </p>


 </h1></div>
 <div class="bloque2">
  <h1 class="technologies">Internet of Things (IoT):<br> <div class="lines"></div><br>
    <p class="paragraph"> IoT refers to the interconnected network of physical devices, vehicles, buildings, and other objects that are embedded with sensors, software, and network connectivity, allowing them to collect and exchange data.
    </p>


   </h1></div>

   <div class="bloque1">
    <h1 class="technologies">Augmented reality (AR) and virtual reality (VR):<br> <div class="lines"></div><br>
      <p class="paragraph"> These technologies enable users to experience and interact with computer-generated environments and objects in a way that enhances or replaces the real world.

      </p>


     </h1></div>

     <div class="bloque2">
      <h1 class="technologies">Natural language processing (NLP):<br> <div class="lines"></div><br>
        <p class="paragraph"> A subfield of AI that focuses on enabling computers to understand, interpret, and generate human language.

        </p>


       </h1></div>

       <div class="bloque1">
        <h1 class="technologies">Edge computing: <br> <div class="lines"></div><br>
          <p class="paragraph"> A distributed computing paradigm that brings computation and data storage closer to the devices and sensors that generate and collect data, enabling faster processing and analysis of data.


          </p>


         </h1></div>
</div> -->
