.cont-ainer {
  margin-left: 6%;
  margin-right: 6%;
}


#ilustracion {
  height: 90vh;
  margin-left: 10%;
  margin-top: 200px;
}

.btn{
  width: 300px;
  height: 80px;
  background-color: #00CF89;
  margin-bottom: 100px;
  color: #272727;
  border-radius: 26px;
  font-size: 32px;
  font-weight: 300;
  margin-left: 41%;
  border: none;
  cursor: pointer;
}

