<!-- <div class="container">
  <img id="ilustracion" src="../assets/images/home-illustration.png" />
  <div class="pack">
    <h1>we are nergi,</h1>
    <div id="line">
      <img id="linea" src="../assets/images/line.png" />
      <div id="second">we are</div>
    </div>
    <div id="third">developing futures</div>
  </div>
</div> -->

<div class="container" @enterState>
  <img id="ilustracion" src="../assets/images/hero.png" />
  <!-- <img src="../assets/images/loading.gif" alt="this slowpoke moves"  width="100" /> -->
</div>


<div class="cont">
  <app-works></app-works>
</div>

<div class="container">
  <app-services></app-services>
</div>
