div {
 margin: 0px;
  width: 100%;
  background-color: #272727;
  min-height: 1600px;
}

@media screen and (max-width: 600px){
  div{
    min-height: 900px;
  }

  }
@media screen and (max-width: 400px){
  div{
    min-height: 900px;
  }

  }

  @media screen and (max-width: 300px){
    div{
      min-height: 850px;
    }

    }


