<p class="tittle">Our Services</p>

<div class="bloque1">
  <img
    class="first-image"
    data-aos="fade-right"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
    src="../assets/images/imageGetty7.png"
    alt="50"
  />
  <div class="text" data-aos="zoom-out" data-aos-duration="2000">
    <h1 class="h1-1">Revamp Business</h1>
    <div class="line"></div>
    <br />
    <h3 class="h2-1">Agriculture</h3>
    <h3 class="h2-1">Know about Mi Lote project:</h3>
    <h1 class="h1-1">Technology Bootstrapping</h1>
    <div class="line"></div>
    <br />
    <h3 class="h2-1">- From napkin idea to unicorn</h3>
    <h3 class="h2-1">- Delivery Team for product evolution</h3>
    <h3 class="h2-1">- StaffAugmentation to scale the team</h3>
  </div>
</div>

<div class="bloque2" data-aos="zoom-in" data-aos-duration="3000">
  <div class="image2">
    <img class="second-image" src="../assets/images/5.png" alt="50" />
  </div>
  <div class="text2">
    <h1 class="h1-2">Cutting Edge Technologies</h1>
    <div class="line2"></div>
    <br />
    <h5 class="h5-1">. Artificial intelligence (AI) and machine learning:</h5>
    <p class="parrafo">
      These technologies enable software to learn and adapt to new data and
      situations, making it possible to build highly sophisticated and
      intelligent systems.
    </p>
    <h5 class="h5-1">. Internet of Things (IoT):</h5>
    <p class="parrafo">
      IoT refers to the interconnected network of physical devices, vehicles,
      buildings, and other objects that are embedded with sensors, software, and
      network connectivity, allowing them to collect and exchange data.
    </p>
  </div>

  <div class="text3">
    <br />
    <br />
    <h5 class="h5-1">. Augmented reality (AR) and virtual reality (VR):</h5>
    <p class="parrafo">
      These technologies enable users to experience and interact with
      computer-generated environments and objects in a way that enhances or
      replaces the real world.
    </p>
    <h5 class="h5-1">. Natural language processing (NLP):</h5>
    <p class="parrafo">
      A subfield of AI that focuses on enabling computers to understand,
      interpret, and generate human language.
    </p>
    <h5 class="h5-1">. Edge computing:</h5>
    <p class="parrafo">
      A distributed computing paradigm that brings computation and data storage
      closer to the devices and sensors that generate and collect data, enabling
      faster processing and analysis of data.
    </p>
  </div>
</div>

<div class="cont">
  <div
    class="bloque3"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0"
  >
    <h1 class="h1-3">Staff Augmentation / Delivery Teams</h1>
    <div class="line3"></div>
    <p class="parrafo2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum neque
      a metus gravida malesuada. Maecenas id diam ligula. Praesent nec fringilla
      nunc. Cras id sollicitudin augue, ac elementum nulla. Donec quis sapien
      nulla.
    </p>
  </div>

  <img
    data-aos="fade-left"
    data-aos-duration="2000"
    class="third-image"
    src="../assets/images/imageGetty6.png"
    alt="50"
  />
</div>
