@font-face {
  font-family:Gilroy;
  src: url(assets/Fonts/gilroy-font/Gilroy-Regular.woff);
}

body{
  font-family: Gilroy;
  width: 90vw;
  background-color: #272727;
  padding: 0px 0px;
  margin: 0px 0px;
}


.container{
  margin-left: 6%;
  margin-right: 6%;
}
