@font-face {
  font-family:Gilroy;
  src: url(assets/Fonts/gilroy-font/Gilroy-Black.woff);
}

h1 {
  font-family: Gilroy;
}

*{
  background-color: #272727;
}

.container{
  margin-left: 6%;
  margin-right: 6%;
}
